body{

    background-image: url(Devices-Hub/background.jpg);
}

h1{
    background-color:  rgb(93, 93, 93);

    text-align: center;

    padding: 2%;

    color: white;
}


#div1{
    display: inline-block;
}

#div2{
    display: inline-block;
}

#itemname{
    display: inline-block;
}

#l1{
    display: inline-block;
}



table, td{

    border: solid 2px black;
    border-collapse: collapse;
}